@view-transition {
  navigation: auto;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(100%); }
}

@keyframes slide-to-left {
  to { transform: translateX(-100%); }
}

@keyframes slide-from-left {
  from { transform: translateX(-100%); }
}

@keyframes slide-to-right {
  to { transform: translateX(100%); }
}


/* ::view-transition-old(root) {
  animation: 500ms ease both fade-out,
    700ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 700ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */

/* This is only ever be the background, never the overlay */
::view-transition {
  background-color: black;
}

:root[data-page="article"] {
  &::view-transition-old(page) {
    animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both fade-out;
  }

  &::view-transition-new(page) {
    animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
  }
}

:root[data-page="home"] {
  &::view-transition-old(page) {
    animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
    z-index: 100;
  }

  &::view-transition-new(page) {
    animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both fade-in;
    z-index: 1;
  }
}



header {
  background-color: green;
  padding: 1rem;
  view-transition-name: main-heading;
}

body {
  margin: 0;
  padding: 0;
}

main {
  view-transition-name: page;
}
/* #home-page {
  view-transition-name: home-page;
}

#article-page {
  view-transition-name: article-page;
} */