@view-transition { navigation: auto; }

@keyframes fade-in { from { opacity: 0; } }
@keyframes fade-out { to { opacity: 0; } }

@keyframes enter-right { from { transform: translateX(100%); } }
@keyframes exit-right { to { transform: translateX(100%); } }

@keyframes enter-left { from { transform: translateX(-100%); } }
@keyframes exit-left { to { transform: translateX(-100%); } }

::view-transition-old(page),
::view-transition-new(page) {
  animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both fade-out;
}

:root[data-page="fade-in-exit-left"],
:root[data-page="fade-in-exit-right"] {
  &::view-transition-old(page) { z-index: 100; }
}

:root[data-page="enter-left-fade-out"] {
  &::view-transition-old(page) { animation-name: fade-out; }
  &::view-transition-new(page) { animation-name: enter-left; }
}

:root[data-page="fade-in-exit-left"] {
  &::view-transition-old(page) { animation-name: exit-left; }
  &::view-transition-new(page) { animation-name: fade-in; }
}

:root[data-page="fade-in-exit-right"] {
  &::view-transition-old(page) { animation-name: exit-right; }
  &::view-transition-new(page) { animation-name: fade-in; }
}

:root[data-page="enter-right-fade-out"] {
  &::view-transition-old(page) { animation-name: fade-out; }
  &::view-transition-new(page) { animation-name: enter-right; }
}

:root[data-page="enter-left-exit-right"] {
  &::view-transition-old(page) { animation-name: exit-right; }
  &::view-transition-new(page) { animation-name: enter-left; }
}

:root[data-page="enter-right-exit-left"] {
  &::view-transition-old(page) { animation-name: exit-left; }
  &::view-transition-new(page) { animation-name: enter-right; }
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: green;
  padding: 1rem;
  view-transition-name: main-heading;
}

main {
  view-transition-name: page;
}
